@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #141e46;
  font-family: "Nunito", sans-serif;
}
.container {
  padding: 0px 8px;
}



/* progress bar css don't delete it  */
